@model Models.EF.KetQuaSoXo

@{
    ViewBag.Title = "chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết xổ số </h2>

<div>
    <h4>Kết quả xổ số</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Giai.TenGiai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giai.TenGiai)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.LoaiVeso.Tinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiVeso.Tinh)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.NgaySo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySo)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.SoTrung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTrung)
        </dd>
        <br />


    </dl>
</div>
<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit",  new { id = Model.ID })';return false;"><b> Sửa</b></button>&nbsp&nbsp&nbsp&nbsp
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;"><b>Trở lại</b></button>&nbsp&nbsp&nbsp&nbsp
</p>
